.default.popupmenu { cursor: pointer; }
.default.popupmenu.disabled { cursor: default; }
.default.popupmenu > .bg,
.default.popupmenu > .bg > .w,
.default.popupmenu > .bg > .c,
.default.popupmenu > .bg > .e,
.default.popupmenu > .label {
  position: absolute;
  top: 0px; height: 23px;
}
.default.popupmenu > .bg {
  left: 0px; right: 0px;
}
.default.popupmenu > .bg > .w,
.default.popupmenu > .bg > .c,
.default.popupmenu > .bg > .e {
  background-image: #url(popupmenu.png);
}
.default.popupmenu > .bg > .w {
  left: 0px; width: 9px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.default.popupmenu > .bg > .e {
  right: 0px; width: 17px;
  background-position: -9px 0px;
  background-repeat: no-repeat;
}
.default.popupmenu > .bg > .c {
  left: 9px; right: 17px;
  background-position: 0px -23px;
  background-repeat: repeat-x;
}
.default.popupmenu > .label {
  left: 13px; right: 11px; top: 0px;
  height: 22px; line-height: 22px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
}
.default.popupmenu:hover > .label { color: #000; }
.default.popupmenu.disabled > .bg { opacity: 0.8; }
.default.popupmenu.ie7 > .label{ line-height: 20px; }
