.default.timesheet > .label,
.default.timesheet > .items,
.default.timesheet > .timeline,
.default.timesheet > .timeline > .hour,
.default.timesheet > .items > .line,
.default.timesheet > .items > .notch { position: absolute; }
.default.timesheet > .label,
.default.timesheet > .items,
.default.timesheet > .timeline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #000;
  vertical-align: middle;
  text-align: left;
}
.default.timesheet > .label {
  left: 33px; top: 0px; right: 0px; height: 16px;
  font-size: 15px;
}
.default.timesheet > .timeline {
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  cursor: move;
}
.default.timesheet > .timeline > .hour {
  left: 0px; width: 26px; text-align: right; height: 14px;
}
.default.timesheet > .items > .line {
  left: 2px; right: 3px; height: 1px;
  border-top: 1px solid #bbb;
}
.default.timesheet > .items > .notch {
  left: 2px; right: 3px; height: 1px;
  border-top: 1px solid #ddd;
}
.default.timesheet > .items {
  left: 29px; top: 19px; right: 1px; bottom: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.default.timesheet > .items > .line:hover {
  left: 0; right: 0;
  background-color: #bbb;
}
.default.timesheet > .items > .notch:hover {
  left: 0; right: 0;
  background-color: #bbb;
}
.default.timesheet.nohours > .timeline > .hour { display: none; }
.default.timesheet.nohours > .label { left: 4px; }
.default.timesheet.nohours > .items { left: 0px; }
