.default.hht_accordion {
  background: #FFF;
}
/*.vertical_anim {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  transition-property: top, height;
  transition-duration: 1s, 1s;
}
*/