.mobile.hht_comment_item > .content {
  position: absolute;
  left: 42px; top: 30px; right: 0px;
  word-wrap: break-word;
  vertical-align: middle;
  font-size: 12px;
}

.mobile.hht_comment_item > .content > a {
  color: #5FABF1;
}

.mobile.hht_comment_item.has_attachment > .content {
  left: 70px;
}

.mobile.hht_comment_item > .sms {
  position: absolute;
  left: 2px; top: 32px; width: 32px; height: 18px;
  font-size: 12px;
  text-align: center;
}

.mobile.hht_comment_item > .icon32 {
  position: absolute;
  left: 2px; top: 0px; width: 32px; height: 32px;
}

.mobile.hht_comment_item > .name {
  position: absolute;
  left: 42px; top: 0px; width: 250px; height: 20px;
  text-align: left;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mobile.hht_comment_item > .date {
  position: absolute;
  right: 5px; top: 0px; width: 120px; height: 20px;
  text-align: right;
  font-size: 13px;
}
