.default.hht_slider {
  cursor: col-resize;  
}

.default.hht_slider > .slider_track_left {
  position: absolute;
  left: 0px; top: 0px; height: 16px; width: 3px;
  background-color: #00AAEE;
}

.default.hht_slider > .slider_track_right {
  position: absolute;
  right: 0px; top: 0px; height: 16px; width: 3px;
  background-color: #00AAEE;
}

.default.hht_slider > .slider_track {
  position: absolute;
  left: 0px; top: 7px; right: 0px; height: 2px;
  background-color: #00AAEE;
}

.default.hht_slider > .slider_thumb {
  position: absolute;
  top: 0px; height: 16px; width: 16px;
  background-color: #00AEEF;
  border-radius: 8px;
}
