.default.hht_searchfield {
  overflow: visible;
}

.default.hht_searchfield > .bg {
  position: absolute;
  left: 1px; height: 6px; right: 1px; bottom: 0px;
  z-index: 1;
  border-right: 2px solid #7f8C8D;
  border-left: 2px solid #7f8C8D;
  border-bottom: 2px solid #7f8C8D;
}

.default.hht_searchfield > .input {
  position: absolute; 
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  z-index: 3;
  display: block;
  font-size: 16px; 
  color: #000;
  background-color: transparent;
  vertical-align: middle;
  border: 0;
  line-height: 30px;
  padding-left: 10px; padding-right: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.default.hht_searchfield > .input::-ms-clear {
  display: none;
}

.default.hht_searchfield.disabled > .input {
  color: #7f8C8D;
  -webkit-text-fill-color: #7f8C8D;
}

.default.hht_searchfield > .help {
  position: absolute;
  left: 13px; top: 0px; right: 30px; bottom: 0px;
  z-index: 2;
  line-height: 30px;
  font-size: 16px; 
  color: #7f8C8D;
  vertical-align: bottom;
}

.default.hht_searchfield.has_text > .help {
  visibility: hidden;
}

.default.hht_searchfield > .icon {
  position: absolute;
  top: 3px; right: 10px; height: 20px; width: 20px;
  fill: #7f8C8D;
}
