.default.hht_dropdown {
  outline: 0
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.default.hht_dropdown.enabled {
  border: 1px solid #ecf0f1;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.default.hht_dropdown.enabled.active {
  border: 1px solid #5FABF1;
}

.default.hht_dropdown.enabled.has_items {
  cursor: pointer;
}

.default.hht_dropdown > .icon {
  position: absolute;
  right: 15px; top: 5px; width: 20px; bottom: 5px;
}

.default.hht_dropdown > .icon > svg {
  position: absolute;
  left: 0px; top: 0px;
  fill: #0AAEEF;
  stroke: #0AAEEF;
}

.default.hht_dropdown > .label {
  position: absolute;
  left: 8px; top: 1px; right: 16px; bottom: 1px;
  line-height: 30px;
  color: #000;
  font-size: 16px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.default.hht_dropdown.has_icons > .label {
  right: 35px;
}

.default.hht_dropdown.disabled > .label {
  left: 0px;
  color: #7f8C8D;
}

.default.hht_dropdown > .help {
  position: absolute;
  left: 8px; top: 1px; right: 25px; bottom: 1px;
  font-size: 15px; 
  line-height: 30px;
  vertical-align: middle;
  visibility: hidden;
}

.default.hht_dropdown.enabled.has_items.no_selection > .help {
  visibility: inherit;
}

.default.hht_dropdown > .indicator {
  position: absolute;
  right: 2px; width: 10px; top: calc(50% - 9px); height: 18px;
}

.default.hht_dropdown.disabled > .indicator {
  visibility: hidden;
}

.default.hht_dropdown > .indicator > .up {
  position: absolute;
  left: 0px; top: 0px; width: 10px; height: 10px;
}

.default.hht_dropdown > .indicator > .down {
  position: absolute;
  left: 0px; top: 8px; width: 10px; height: 10px;
}

.default.hht_dropdown > .indicator > * > svg {
  position: absolute;
  left: 0px; top: 0px;
  fill: #7f8C8D;
}
