.mobile.hht_mobile_navi {
  cursor: pointer;
  background-color: #00AEEF;
}

.mobile.hht_mobile_navi > .icon {
  position: absolute;
  left: 5px; top: 13px; width: 24px; height: 24px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;

  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;

  -webkit-transition-duration: 0.4s, 0.4s;
  -moz-transition-duration: 0.4s, 0.4s;
  -ms-transition-duration: 0.4s, 0.4s;
  -o-transition-duration: 0.4s, 0.4s;
  transition-duration: 0.4s, 0.4s;
}

.mobile.hht_mobile_navi.open > .icon {
  left: -3px;
}

.mobile.hht_mobile_navi.horizontal > .icon {
  left: 13px; top: 10px; width: 24px; height: 24px;
}

.mobile.hht_mobile_navi > .icon > svg {
  fill: #fff;
  stroke: #fff;
}

.mobile.hht_mobile_navi > .title {
  position: absolute;
  left: 45px; top: 0px; right: 5px; bottom: 0px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.mobile.hht_mobile_navi.horizontal > .menu > .label {
  margin-left: 0px;
  margin-top: 40px;
  line-height: 50px;
  left: -75px; top: 50px; width: 200px; height: 50px;
  transform: rotate( 270deg );
  -ms-transform: rotate( 270deg ); /* IE 9 */
  -webkit-transform: rotate( 270deg ); /* Opera, Chrome, and Safari */
  -o-transform: rotate( 270deg );
}
