.default.minimenuitem { cursor: pointer; }
.default.minimenuitem:hover { background-color: #fff; }
.default.minimenuitem.disabled { cursor: default; opacity: 0.8; }
.default.minimenuitem > .label,
.default.minimenuitem > .state {
  position: absolute; height: 16px;
}
.default.minimenuitem > .state {
  left: 0px; top: 1px; height: 12px; width: 12px;
  background-image: #url(minimenuitem_checkmark.png);
}
.default.minimenuitem > .state {
  visibility: hidden;
}
.default.minimenuitem.checked > .state {
  visibility: inherit;
}
.default.minimenuitem > .label {
  left: 14px; right: 11px; top: 0px;
  height: 15px; line-height: 14px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #333;
}
.default.minimenuitem:hover > .label { color: #000; }
