.default.hht_mini_calendar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #5FABF1;
  border-radius: 10px;
}

.default.hht_mini_calendar > .header {
  position: absolute;
  left: 0px; top: 0px; right: 0px; height: 36px;
}

.default.hht_mini_calendar > .header > .left_arrow {
  cursor: pointer;
  position: absolute;
  left: 0px; top: 0px; width: 36px; bottom: 0px;
  border-right: 1px solid #FFF;
}

.default.hht_mini_calendar > .header > .left_arrow > svg {
  position: absolute;
  left: 8px; top: 8px; width: 20px; height: 20px;
  fill: #FFF;
  stroke: #FFF;
}

.default.hht_mini_calendar > .header > .right_arrow {
  cursor: pointer;
  position: absolute;
  right: 0px; top: 0px; width: 36px; bottom: 0px;
  border-left: 1px solid #FFF;
}

.default.hht_mini_calendar > .header > .right_arrow > svg {
  position: absolute;
  left: 8px; top: 8px; width: 20px; height: 20px;
  fill: #FFF;
  stroke: #FFF;
}

.default.hht_mini_calendar > .header > .title {
  position: absolute;
  left: 36px; top: 0px; right: 36px; bottom: 0px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  font-size: 15px;
}

.default.hht_mini_calendar > .days {
  position: absolute;
  left: 6px; top: 36px; right: 6px; bottom: 6px;
  background-color: #FFF;
  border-radius: 3px;
}

.default.hht_mini_calendar > .days > .title {
  position: absolute;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  color: #000;
}

.default.hht_mini_calendar > .days > .day {
  position: absolute;
  cursor: pointer;
}

.default.hht_mini_calendar > .days > .day > .number {
  position: absolute;
  left: calc( 50% - 14px );
  top: calc( 50% - 14px );
  width: 28px; height: 28px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  border-radius: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.default.hht_mini_calendar > .days > .day.today > .number {
  border: 2px solid #E74C3C;
  line-height: 26px;
}

.default.hht_mini_calendar > .days > .day.active_month > .number {
  color: #000;
}

.default.hht_mini_calendar > .days > .day.selected > .number {
  background-color: #DDD;
}

.default.hht_mini_calendar > .days > .day:hover > .number {
  background-color: #5FABF1;
  color: #FFF;
}
