.mobile.hht_validator > .icon {
  position: absolute;
  left: calc(50% - 10px); top: calc(50% - 10px); width: 20px; height: 20px;
}

.mobile.hht_validator.correct > .icon > svg {
  fill: #2ECC71;
}

.mobile.hht_validator.error > .icon > svg {
  fill: #E74C3C;
}
