* { 
  font-family: RobotoLight;
  color: #7F8C8D;
}

@font-face {
  font-family: 'RobotoLight';
  src: #url(roboto_light-webfont.eot);
  src: #url(roboto_light-webfont.woff) format('woff'),
       #url(roboto_light-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  src: #url(roboto_medium-webfont.eot);
  src: #url(roboto_medium-webfont.woff) format('woff'),
       #url(roboto_medium-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:focus {
  outline: 0;
}

.icon32 {
  position: absolute;
  width: 32px; height: 32px;
}

.icon32 > .img {
  position: absolute;
  left: 0px; top: 0px; width: 32px; height: 32px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.icon32 > svg {
  position: absolute;
  left: 0px; top: 0px; width: 32px; height: 32px;
  fill: #7f8C8D;
  border-radius: 16px;
}

.icon48 {
  position: absolute;
  width: 48px; height: 48px;
}

.icon48 > .img {
  position: absolute;
  left: 0px; top: 0px; width: 48px; height: 48px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.icon48 > svg {
  position: absolute;
  left: 0px; top: 0px; width: 48px; height: 48px;
  fill: #7f8C8D;
  border-radius: 24px;
}

.icon160 {
  position: absolute;
  width: 160px; height: 160px;
}

.icon160 > .img {
  position: absolute;
  left: 0px; top: 0px; width: 160px; height: 160px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-radius: 80px;
}

.icon160 > svg {
  position: absolute;
  left: 0px; top: 0px; width: 160px; height: 160px;
  fill: #7f8C8D;
  border-radius: 80px;
}
