* { 
  font-family: LatoRegular;
  color: #697797;
}

@font-face {
  font-family: 'LatoBlack';
  src: #url(LatoBlack.eot);
  src: #url(LatoBlack.woff) format('woff'),
       #url(LatoBlack.ttf) format('truetype'),
       #url(LatoBlack.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: #url(LatoBold.eot);
  src: #url(LatoBold.woff) format('woff'),
       #url(LatoBold.ttf) format('truetype'),
       #url(LatoBold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: #url(LatoLight.eot);
  src: #url(LatoLight.woff) format('woff'),
       #url(LatoLight.ttf) format('truetype'),
       #url(LatoLight.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: #url(LatoRegular.eot);
  src: #url(LatoRegular.woff) format('woff'),
       #url(LatoRegular.ttf) format('truetype'),
       #url(LatoRegular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

:focus {
  outline: 0;
}

.click_anim:active {
  background-color: #D4EBFA;
}

.icon32 {
  position: absolute;
  width: 32px; height: 32px;
}

.icon32 > .img {
  position: absolute;
  left: 0px; top: 0px; width: 32px; height: 32px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.icon32 > svg {
  position: absolute;
  left: 0px; top: 0px; width: 32px; height: 32px;
  fill: #7f8C8D;
  stroke: #7f8C8D;
  border-radius: 16px;
}

.icon48 {
  position: absolute;
  width: 48px; height: 48px;
}

.icon48 > .img {
  position: absolute;
  left: 0px; top: 0px; width: 48px; height: 48px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.icon48 > svg {
  position: absolute;
  left: 0px; top: 0px; width: 48px; height: 48px;
  fill: #7f8C8D;
  stroke: #7f8C8D;
  border-radius: 24px;
}

.icon160 {
  position: absolute;
  width: 160px; height: 160px;
}

.icon160 > .img {
  position: absolute;
  left: 0px; top: 0px; width: 160px; height: 160px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-radius: 80px;
}

.icon160 > svg {
  position: absolute;
  left: 0px; top: 0px; width: 160px; height: 160px;
  fill: #7f8C8D;
  stroke: #7f8C8D;
  border-radius: 80px;
}

.icon240 {
  position: absolute;
  width: 160px; height: 160px;
}

.icon240 > .img {
  position: absolute;
  left: 0px; top: 0px; width: 240px; height: 240px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.icon240 > svg {
  position: absolute;
  left: 0px; top: 0px; width: 160px; height: 160px;
  fill: #7f8C8D;
  stroke: #7f8C8D;
}

.icon240:not(.rect) > .img,
.icon240:not(.rect) > svg {
  border-radius: 120px;
}
