.mobile.hht_date_label {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 30px
}

.mobile.hht_date_label > .date {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  text-align: left;
}

.mobile.hht_date_label.show_time > .date {
  right: 70px;
}

.mobile.hht_date_label > .time {
  position: absolute;
  width: 0px; top: 0px; right: 0px; bottom: 0px;
  text-align: right;
  visibility: hidden;
}

.mobile.hht_date_label.show_time > .time {
  width: 70px;
  visibility: inherit;
}
