.default > .button_control > .onoffbutton_label,
.default > .button_control > .onoffbutton_label_off {
  position: absolute;
  top: 2px; height: 20px; line-height: 20px;
  text-align: center; vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px; font-weight: bold;
  text-shadow: 0 0 2px #fff;
  color: #333;
}
.default > .button_control > .onoffbutton_label {
  left: 6px; right: 50%;
}
.default > .button_control > .onoffbutton_label_off {
  right: 6px; left: 50%;
}
.default.disabled > .button_control > .onoffbutton_label,
.default.disabled > .button_control > .onoffbutton_label_off {
  color: #999;
}
.default.enabled > .button_control:hover > .onoffbutton_label,
.default.enabled > .button_control:active > .onoffbutton_label_off {
  color: #000;
}
.default.enabled > .button_control:active > .onoffbutton_label,
.default.enabled > .button_control:active > .onoffbutton_label_off {
  color: #000;
}
.default > .button_control > .onoffbutton_on,
.default > .button_control > .onoffbutton_off {
  position: absolute;
  display: none;
  top: 1px; height: 20px;
  opacity: 0.6;
}
.default > .button_control > .onoffbutton_off {
  left: 50%; right: 1px;
  background-color: #660000;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.default > .button_control > .onoffbutton_on {
  right: 50%; left: 1px;
  background-color: #006600;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.default.disabled > .button_control > .onoffbutton_off,
.default.disabled > .button_control > .onoffbutton_on {
  opacity: 0.3;
}
