.default.hht_popup > .bg {
  position: absolute;
  padding: 0px;
  background: #FFF;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.default.hht_popup.right > .bg {
  left: 18px; top: 3px; right: 3px; bottom: 3px;
}

.default.hht_popup.left > .bg {
  left: 3px; top: 3px; right: 18px; bottom: 3px;
}

.default.hht_popup.top > .bg {
  left: 3px; top: 3px; right: 3px; bottom: 18px;
}

.default.hht_popup.bottom > .bg {
  left: 3px; top: 18px; right: 3px; bottom: 3px;
}

.default.hht_popup > .bg > .barb {
  content: "\00a0";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFF;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.default.hht_popup.right > .bg > .barb {
  left: -11px;
  top: calc( 50% - 10px );
  transform: rotate( 45deg );
  -ms-transform: rotate( 45deg );
  -moz-transform: rotate( 45deg );
  -webkit-transform: rotate( 45deg );
}

.default.hht_popup.left > .bg > .barb {
  right: -11px;
  top: calc( 50% - 10px );
  transform: rotate( -135deg );
  -ms-transform: rotate( -135deg );
  -moz-transform: rotate( -135deg );
  -webkit-transform: rotate( -135deg );
}

.default.hht_popup.bottom > .bg > .barb {
  top: -11px;
  left: calc( 50% - 10px );
  transform: rotate( 135deg );
  -ms-transform: rotate( 135deg );
  -moz-transform: rotate( 135deg );
  -webkit-transform: rotate( 135deg );
}

.default.hht_popup.top > .bg > .barb {
  bottom: -11px;
  left: calc( 50% - 10px );
  transform: rotate( -45deg );
  -ms-transform: rotate( -45deg );
  -moz-transform: rotate( -45deg );
  -webkit-transform: rotate( -45deg );
}

.default.hht_popup.popup_anim {
  animation-name: popup_frames;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;

  -o-animation-name: popup_frames;
  -o-animation-duration: 0.2s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: ease-in;

  -ms-animation-name: popup_frames;
  -ms-animation-duration: 0.2s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in;

  -moz-animation-name: popup_frames;
  -moz-animation-duration: 0.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;

  -webkit-animation-name: popup_frames;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
}

.default.hht_popup.popup_anim.right {
  transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
}

.default.hht_popup.popup_anim.left {
  transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
}

.default.hht_popup.popup_anim.bottom {
  transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

.default.hht_popup.popup_anim.top {
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

@keyframes popup_frames {
  from { transform: scale(0.2) }
  to { transform: scale(1) }
}

@-ms-keyframes popup_frames {
  from { -ms-transform: scale(0.2) }
  to { -ms-transform: scale(1) }
}

@-moz-keyframes popup_frames {
  from { -moz-transform: scale(0.2) }
  to { -moz-transform: scale(1) }
}

@-webkit-keyframes popup_frames {
  from { -webkit-transform: scale(0.2) }
  to { -webkit-transform: scale(1) }
}
