.default.hht_search_list > .empty_text {
  position: absolute;
  left: 3px; top: 30px; right: 3px; height: 30px;
  line-height: 30px;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  visibility: hidden;
}

.default.hht_search_list.empty > .empty_text {
  visibility: inherit;
}