.mobile.hht_onoffbutton {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

/*Both buttons*/
.mobile.hht_onoffbutton > .on, 
.mobile.hht_onoffbutton > .off {
  position: absolute;
  cursor: default; 
}

.mobile.hht_onoffbutton.enabled > .on,
.mobile.hht_onoffbutton.enabled > .off {
  cursor: pointer; 
}

.mobile.hht_onoffbutton > .on > .bg,
.mobile.hht_onoffbutton > .off > .bg {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  border: 1px solid #7f8C8D;
  border-radius: 5px;
  -webkit-transition-property: color, background; 
  -webkit-transition-duration: 0.2s, 0.2s; 
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: color, background; 
  -moz-transition-duration: 0.2s, 0.2s; 
  -moz-transition-timing-function: linear, ease-in;
  transition-property: color, background; 
  transition-duration: 0.2s, 0.2s; 
  transition-timing-function: linear, ease-in;
}

.mobile.hht_onoffbutton > .on > .label,
.mobile.hht_onoffbutton > .off > .label {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  text-align: center; 
  vertical-align: middle;
  line-height: 25px;
  font-size: 13px;
}

.mobile.hht_onoffbutton > .on.selected > .label,
.mobile.hht_onoffbutton > .off.selected > .label,
.mobile.hht_onoffbutton.enabled > .on:hover > .label,
.mobile.hht_onoffbutton.enabled > .off:hover > .label {
  color: #FFF;
}

/*ON button*/
.mobile.hht_onoffbutton > .on {
  left: 0px; top: 0px; width: 47%; bottom: 0px;
}

.mobile.hht_onoffbutton > .on.selected > .bg,
.mobile.hht_onoffbutton.enabled > .on:hover > .bg {
  background-color: #2ECC71;
  border-color: #2ECC71;
}

/*OFF button*/
.mobile.hht_onoffbutton > .off {
  right: 0px; top: 0px; width: 47%; bottom: 0px;
}

.mobile.hht_onoffbutton > .off.selected > .bg,
.mobile.hht_onoffbutton.enabled > .off:hover > .bg {
  background-color: #E74C3C;
  border-color: #E74C3C;
}
