
.default > .button_control,
.default > .button_control > .button_bg,
.default > .button_control > .button_label {
  position: absolute;
}
.default > .button_control {
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
}
.default.disabled > .button_control {
  cursor: default;
}
.default > .button_control > .button_bg {
  top: 2px; left: 2px; right: 2px; bottom: 3px;
  border: 1px solid #e0e0e0;
  border-top: 0; border-left: 0;
  box-shadow: 0 0 3px #333;
  #{this.gradientCSS('#fcfcfc',[45,'#ffffff'],[55,'#fdfdfd'],[75,'#f3f3f3'],'#f0f0f0')}
}
.default.disabled > .button_control > .button_bg {
  border-color: #ddd;
  box-shadow: 0 0 3px #666;
  opacity: 0.9;
  #{this.gradientCSS('#d6d6d6',[66,'#d0d0d0'],[71,'#d3d3d3'],'#cccccc')}
}
.default > .button_control > .button_label {
  left: 0; right: 0; top: 2px; bottom: auto;
  text-align: center; vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0 0 2px #fff;
  font-size: 12px; font-weight: bold;
  color: #333;
}
.default.disabled > .button_control > .button_label {
  color: #555;
}

.default.enabled.action > .button_control > .button_bg {
  border-color: #000;
  box-shadow: 0 0 3px #000;
  #{this.gradientCSS('#333',[45,'#555'],[55,'#444'],[75,'#222'],'#111')}
}
.default.enabled.action > .button_control > .button_label {
  color: #fdfdfd;
  text-shadow: 0 0 2px #000;
}

.default.enabled > .button_control:hover > .button_bg {
  box-shadow: 0 0 3px #000;
  #{this.gradientCSS('#f6f6f6',[66,'#ffffff'],[71,'#fcfcfc'],'#f0f0f0')}
}
.default.enabled > .button_control:hover > .button_label {
  color: #000;
}

.default.enabled.action > .button_control:hover > .button_bg {
  border-color: #000;
  box-shadow: 0 0 3px #000;
  #{this.gradientCSS('#111',[66,'#333'],[71,'#333'],'#000')}
}
.default.enabled.action > .button_control:hover > .button_label {
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.default.enabled > .button_control:active > .button_bg {
  border: 1px solid #fff;
  border-bottom: 0; border-right: 0;
  box-shadow: 0 0 3px #000;
  #{this.gradientCSS('#e6e6e6',[29,'#f0f0f0'],[33,'#f6f6f6'],'#ffffff')}
}
.default.enabled > .button_control:active > .button_label {
  color: #000;
}

.default.enabled.action.clickeffect > .button_control > .button_bg,
.default.enabled.action > .button_control:active > .button_bg {
  border: 1px solid #fff;
  margin: -1px;
  box-shadow: 0 0 3px #fff;
  #{this.gradientCSS('#111',[29,'#333'],[33,'#333'],'#000')}
}
.default.enabled.action.clickeffect > .button_control:active > .button_label,
.default.enabled.action > .button_control:active > .button_label {
  color: #fff;
  text-shadow: 0 0 2px #000;
}

