.mobile.hht_card {
  position: absolute;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  border-bottom: 1px solid #EEE;
  background: #FFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile.hht_card > .title {
  position: absolute;
  left: 19px; top: 19px; right: 19px; height: 38px;
  font-size: 25px;
}

.mobile.hht_card > .label {
  position: absolute;
  left: 3px; right: 3px; height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
}

.mobile.hht_card > .close_button {
  position: absolute;
  cursor: pointer;
  top: 10px; right: 10px; width: 32px; height: 32px;
}

.mobile.hht_card > .close_button > .normal,
.mobile.hht_card > .close_button > .mouse_over {
  position: absolute;
  top: 8px; left: 8px; width: 16px; height: 16px;
}

.mobile.hht_card > .close_button > .normal,
.mobile.hht_card > .close_button:hover > .mouse_over {
  visibility: inherit;
}

.mobile.hht_card > .close_button > .mouse_over,
.mobile.hht_card > .close_button:hover > .normal {
  visibility: hidden;
}

