.default.hht_graph > .no_graph {
  position: absolute;
  left: 0; top: 40%; right: 0; bottom: 0;
  visibility: inherit;
  font-size: 22px;
  text-align: center;
}

.default.hht_graph.has_graph > .no_graph {
  visibility: hidden;
}

.default.hht_graph > .graph {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  visibility: hidden;
}

.default.hht_graph.has_graph > .graph {
  visibility: inherit;
}
