.default.hht_symbol_picker > .item {
  position: absolute;
  margin: 1px 1px 1px 1px;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 12px;
  opacity: 1.0;
}

.default.hht_symbol_picker.enabled > .item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.default.hht_symbol_picker > .item > svg {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  fill: #DDDDDD;
  stroke: #DDDDDD;
}

.default.hht_symbol_picker > .item.selected > svg {
  fill: #7f8C8D;
  stroke: #7f8C8D;
}
