.default.progressbar {
  cursor: wait;
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 1px;
  border: 1px solid #999;
  background-color: #ccc;
}
.default.progressbar > .progress {
  position: absolute;
  left: 0px; top: 0px;
  width: 50px; bottom: 0px;
  background-color: #333;
}
.default.progressbar.disabled {
  opacity: 0.75;
}
