.mobile.hht_mobile_navi_button > .icon {
  position: absolute;
  left: 12px; top: 12px; right: 12px; bottom: 12px;
}

.mobile.hht_mobile_navi_button > .icon > svg {
  fill: #fff;
  stroke: #fff;
}

.mobile.hht_mobile_navi_button.clicked > .icon {
  fill: #00AEEF;
  stroke: #00AEEF;
}