.mobile.hht_comment_list {
  background-color: #fff;
}

.mobile.hht_comment_list > .empty_view {
  position: absolute;
  left: 20px; top: 10px; right: 10px; height: 30px;
  font-size: 16px;
  text-align: left;
  visibility: hidden;
}

.mobile.hht_comment_list.no_comments > .empty_view {
  visibility: inherit;
}
