.default.minimenu { cursor: pointer; }
.default.minimenu.disabled { cursor: default; }
.default.minimenu > .bg,
.default.minimenu > .bg > .w,
.default.minimenu > .bg > .c,
.default.minimenu > .bg > .e,
.default.minimenu > .label {
  position: absolute;
  top: 0px; height: 15px;
}
.default.minimenu > .bg {
  left: 0px; right: 0px;
}
.default.minimenu > .bg > .w,
.default.minimenu > .bg > .c,
.default.minimenu > .bg > .e {
  background-image: #url(minimenu.png);
}
.default.minimenu > .bg > .w {
  left: 0px; width: 7px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.default.minimenu > .bg > .e {
  right: 0px; width: 13px;
  background-position: -7px 0px;
  background-repeat: no-repeat;
}
.default.minimenu > .bg > .c {
  left: 7px; right: 13px;
  background-position: 0px -15px;
  background-repeat: repeat-x;
}
.default.minimenu > .label {
  left: 6px; right: 11px; top: 0px;
  height: 15px; line-height: 15px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #333;
}
.default.minimenu:hover > .label { color: #000; }
.default.minimenu.disabled > .bg { opacity: 0.8; }
