.default.hht_icon_label > .icon {
  position: absolute;
  left: 0px; top: 5px; width: 20px; height: 20px;
}

.default.hht_icon_label > .label {
  position: absolute;
  left: 26px; top: 0px; right: 0px; bottom: 0px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px
}
