.default. > .bg {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
}

.default.hht_table_indicator > .item {
  position: absolute;
  cursor: pointer;
  top: 0px;
  width: 24px;
  height: 24px;
}

.default.hht_table_indicator > .item circle {
  fill: #eeeeee;
}

.default.hht_table_indicator > .item path {
  stroke: #bdc3c7;
}

.default.hht_table_indicator > .item:hover circle {
  stroke: #00AEEF;
  fill: #FFF;
  animation: fadein_frames 1s;
  -moz-animation: fadein_frames 1s;
  -webkit-animation: fadein_frames 1s;
}

.default.hht_table_indicator > .item:hover path {
  stroke: #00AEEF;
}

.default.hht_table_indicator > .item.selected circle {
  fill: #00AEEF;
}

.default.hht_table_indicator > .item.selected:hover circle {
  stroke: none;
  fill: #00AEEF;
  animation: none;
  -moz-animation: none;
  -webkit-animation: none;
}

.default.hht_table_indicator > .item > .number {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}

.default.hht_table_indicator > .item.selected > .number {
  color: #FFF;
}

.default.hht_table_indicator > .item:hover > .number {
  color: #00AEEF; 
}

.default.hht_table_indicator > .item.selected:hover > .number {
  color: #FFF; 
}
