.default.sheet > .content > .bg,
.default.sheet > .content > .body,
.default.sheet > .dimmer,
.default.sheet > .content,
.default.sheet > .content > .body > .w,
.default.sheet > .content > .body > .e,
.default.sheet > .content > .body > .sw,
.default.sheet > .content > .body > .se,
.default.sheet > .content > .body > .s,
.default.sheet > .content > .subview {
  position: absolute;
  display: block;
  overflow: hidden;
  cursor: inherit;
  background-repeat: no-repeat;
}
.default.sheet > .dimmer {
  top: 0; left: 0; right: 0; bottom: 0;
  background-repeat: repeat;
  background-image: #url(sheet_dim.png)
}
.default.sheet > .content {
  top: 0; left: -2px; right: -2px; bottom: -2px; overflow: visible;
}
.default.sheet > .content > .bg {
  left: 24px; top: 0; right: 24px; bottom: 24px;
  background-repeat: repeat;
  background-image: #url(sheet_bg.png)
}
.default.sheet > .content > .body {
  left: 0; top: 0; right: 0; bottom: 0; overflow: visible;
}
.default.sheet > .content > .body > * {
  background-image: #url(sheet_parts1.png)
}
.default.sheet > .content > .body > .w {
  left: 0; top: 0; bottom: 24px; width: 24px;
  background-repeat: repeat-y;
  background-position: -48px 0;
}
.default.sheet > .content > .body > .e {
  right: 0; top: 0; bottom: 24px; width: 24px;
  background-repeat: repeat-y;
  background-position: -72px 0;
}
.default.sheet > .content > .body > .sw {
  left: 0; bottom: 0; height: 24px; width: 24px;
  background-position: 0 0;
}
.default.sheet > .content > .body > .se {
  right: 0; bottom: 0; height: 24px; width: 24px;
  background-position: -24px 0;
}
.default.sheet > .content > .body > .s {
  left: 24px; bottom: 0; right: 24px; height: 24px;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-image: #url(sheet_parts2.png)
}
.default.sheet > .content > .subview {
  left: 2px; top: 0; right: 2px; bottom: 2px;
}

