.default.hht_list_item {
  cursor: pointer;
}

.default.hht_list_item.selected {
  background-color: #D4EBFA;
}

.default.hht_list_item > .label {
  position: absolute;
  left: 10px; top: 15px; height: 30px; right: 10px;
  line-height: 30px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
