.default.menuitem { cursor: pointer; }
.default.menuitem:hover { background-color: #fff; }
.default.menuitem.disabled { cursor: default; opacity: 0.8; }
.default.menuitem > .label,
.default.menuitem > .state {
  position: absolute; height: 24px;
}
.default.menuitem > .state {
  left: 4px; top: 7px; height: 12px; width: 12px;
  background-image: #url(minimenuitem_checkmark.png);
}
.default.menuitem > .state {
  visibility: hidden;
}
.default.menuitem.checked > .state{
  visibility: inherit;
}
.default.menuitem > .label {
  left: 20px; right: 11px; top: 0px;
  height: 24px; line-height: 24px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
}
.default.menuitem:hover > .label { color: #000; }
