.default > .calendar,
.default > .calendar_bg,
.default > .calendar > .head,
.default > .calendar > .head > .prev_month,
.default > .calendar > .head > .next_month,
.default > .calendar > .head > .month_year,
.default > .calendar > .weekdays,
.default > .calendar > .weekdays > div,
.default > .calendar > .weeks,
.default > .calendar > .weeks > .week_row,
.default > .calendar > .weeks > .week_row > .col_inactive,
.default > .calendar > .weeks > .week_row > .col_selected,
.default > .calendar > .weeks > .week_row > .col_wk,
.default > .calendar > .weeks > .week_row > .col_active,
.default > .calendar > .weeks > .week_row > .col_today {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.default > .calendar > .head { height: 20px; bottom: auto; }

.default > .calendar > .head > .prev_month,
.default > .calendar > .head > .next_month {
  top: 4px; width: 18px; height: 18px; bottom: auto;
  font-size: 18px; line-height: 18px;
  vertical-align: middle; text-align: center;
  cursor: pointer; color: #999;
}
.default > .calendar > .head > .prev_month { left: 2px; }

.default > .calendar > .head > .prev_month > .flipped {
  transform: scale(-1,1);
  -moz-transform: scale(-1,1);
  -webkit-transform: scale(-1,1);
  display: inline-block;
}
.default > .calendar > .head > .next_month { right: 2px; left: auto; }

.default > .calendar > .head > .prev_month:hover,
.default > .calendar > .head > .next_month:hover { color: #000; }

.default > .calendar > .head > .prev_month:hover,
.default > .calendar > .head > .next_month:hover { background-color: white; }

.default > .calendar > .head > .month_year {
  left: 20px; right: 20px; height: 20px; bottom: auto;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}
.default > .calendar > .weekdays { top: 20px; height: 15px; right: auto; }

.default > .calendar > .weekdays > div {
  height: 15px; width: 25px;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 16px;
  vertical-align: middle;
  text-align: center;
}
.default > .calendar > .weeks {
  top: 34px; left: 0px; right: 2px; bottom: 2px;
}
.default > .calendar > .weeks > .week_row { left: 0px; right: 0px; }

.default > .calendar > .weeks > .week_row > .col_inactive,
.default > .calendar > .weeks > .week_row > .col_selected,
.default > .calendar > .weeks > .week_row > .col_wk,
.default > .calendar > .weeks > .week_row > .col_active,
.default > .calendar > .weeks > .week_row > .col_today {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.default > .calendar > .weeks > .week_row > .col_wk { color: #000; cursor: default; }

.default > .calendar > .weeks > .week_row > .col_inactive { color: #666; }

.default.enabled > .calendar > .weeks > .week_row > .col_inactive:hover { color: #000; }

.default > .calendar > .weeks > .week_row > .col_active,
.default > .calendar > .weeks > .week_row > .col_selected {
  color: #000;
  background-color: #ddd;
  font-weight: normal;
  border: 1px solid #666;
}
.default > .calendar > .weeks > .week_row > .col_selected { background-color: #fff; }

.default > .calendar > .weeks > .week_row > .col_today { font-weight: bold; color: #f00; }

.default.enabled > .calendar > .weeks > .week_row > .col_active:hover {
  border: 2px solid black; margin: -1px; z-index: 100; border-radius: 3px;
}
.default > .calendar_bg {
  left: -1px; right: -1px;
  top: -1px; bottom: -1px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  border-top: 0; border-left: 0;
  box-shadow: 0 0 3px #333;
  #{this.gradientCSS('#fcfcfc',[45,'#ffffff'],[55,'#fdfdfd'],[75,'#f3f3f3'],'#f0f0f0')}
}
.default.disabled > .calendar_bg *, {
  border-color: #ddd;
  box-shadow: 0 0 3px #666;
  #{this.gradientCSS('#d6d6d6',[66,'#d0d0d0'],[71,'#d3d3d3'],'#cccccc')}
}
.default.disabled > .calendar * {
  opacity: 0.9;
}
