.default.checkbox {
  left: 0px; top: 0px; right: 0px;
  cursor: pointer;
}
.default.checkbox.disabled {
  cursor: default;
}
.default.checkbox.checkbox > .state,
.default.checkbox.checkbox > .label {
  position: absolute; height: 24px;
}
.default.checkbox > .state {
  left: 0px; top: 0px; width: 24px;
  background-repeat: no-repeat;
  background-position: -24px 0px;
  background-image: #url(checkbox_parts1.png);
}
.default.checkbox.enabled:hover > .state {
  background-position: -24px -24px;
}
.default.checkbox.enabled:active > .state {
  background-position: -24px -48px;
}

.default.checkbox.enabled.checked > .state {
  background-position: 0px 0px;
}
.default.checkbox.enabled.checked:hover > .state {
  background-position: 0px -24px;
}
.default.checkbox.enabled.checked:active > .state {
  background-position: 0px -48px;
}

.default.checkbox.disabled > .state {
  background-position: -24px -72px;
}
.default.checkbox.disabled.checked > .state {
  background-position: 0px -72px;
}

.default.checkbox > .label {
  left: 24px; right: 0px; top: 2px;
  height: 20px; line-height: 20px;
  text-align: left; vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
}
.default.checkbox.disabled > .label {
  color: #999;
}
.default.checkbox.enabled:hover > .label {
  color: #000;
}
.default.checkbox.enabled:active > .label {
  color: #000;
}

